<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/index.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app" v-cloak>
    <div class="container">
      <header id="header">
        <div class="search-input">
          <el-input
            v-model="search"
            placeholder="请输入图标名称"
            :autofocus="true">
          </el-input>
        </div>
        <el-button @click="searchIcon">搜索</el-button>
      </header>
      <!-- 搜索结果区域 -->
      <div class="search-result-container">
        <ul class="search-list" v-if="searchList.length > 0">
          <li class="search-item" v-for="item in searchList" :key="item.id">
            <div class="svg-block" v-html="item.svg"></div>
            <div class="checkbox-block">
              <el-checkbox v-model="item.checked" @change="checkedChange"></el-checkbox>
            </div>
          </li>
        </ul>
        <div class="empty-block" v-else>
          <el-empty description="描述文字"></el-empty>
        </div>
      </div>

      <!-- 已选择的图标展示区域 -->
      <div class="choosed-icon-block" v-if="choosedList.length > 0">
        <h3>已选择的图标列表:</h3>
        <ul class="choosed-icon-list">
          <li class="choosed-icon-item" v-for="(item, index) in choosedList" :key="item">
            <i class="el-icon-circle-close close-icon" @click="cancelChoose(item)"></i>
            <div class="icon" v-html="item.svg"></div>
            <!-- <div class="name">{{ item.en_name }}</div> -->
          </li>
        </ul>

        <!-- 按钮操作区域 -->
        <div class="btns-block" v-if="choosedList.length > 0">
          <el-button @click="exportSvgSymbolsFile">导出SymbolsJS</el-button>
          <el-button @click="exportSvgFile">导出SVG文件</el-button>
          <el-button>重置(清空Storage)</el-button>
        </div>
      </div>

      <div class="loading-block" v-loading="loading" v-if="loading"></div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./scripts/main.js"></script>
  <script type="text/javascript">
    new Vue({
      el: '#app',
      data() {
        return {
          showApp: false,
          loading: false,
          search: '',
          searchList: [],
          choosedList: []
        }
      },
      watch: {
        searchList: {
          deep: true,
          handler: function(list) {
            // checkbox的一个小hack!!
            // v-model对象的checked属性，如果checked属性值为false checkbox选项框无法再进行切换，因此需要删除
            if (isTrueArray(list)) {
              list.forEach(item => {
                if (item['checked'] === false) {
                  item['checked'] = '';
                }
              })
            }
          }
        },
      },
      methods: {
        async searchIcon() {
          this.loading = true;
          const res = await axios.get(
            // TODO: 部门id可配置
            `${searchUrl}?project_id=0&page=1&name=${this.search}`
          );
          // 重置搜索列表
          this.searchList = [];
          if (res.data.status_code === 0) {
            this.searchList = res.data.data;
            if (isTrueArray(this.searchList)) {
              // 将searchList和choosedList进行比对
              this.searchList.forEach(item => {
                item['checked'] = this.choosedList.some(
                  chooseItem => chooseItem.id === item.id
                ) ? true : ''
              })
            }
          }
          this.loading = false;
        },

        checkedChange(val) {
          // checked改变的时候比对一下
          const checkedList = this.searchList.filter(item => item.checked);
          const uncheckedList = this.searchList.filter(item => !item.checked);
          checkedList.forEach(item => {
            // 遍历当前搜索列表中的选中项，如果choosedList中没有则push进去
            if (!this.choosedList.some(chooseItem => chooseItem.id === item.id)) {
              this.choosedList.push(item);
            }
          })
          uncheckedList.forEach(item => {
            for (let i = 0; i < this.choosedList.length; i++) {
              if (this.choosedList[i].id === item.id) {
                this.choosedList.splice(i, 1);
              }
            }
          })
          setLocalStorage(CHOOSED_LIST_STORAGE_KEY, JSON.stringify(this.choosedList));
          setLocalStorage(SEARCH_LIST_STORAGE_KEY, JSON.stringify(this.searchList));
        },

        cancelChoose(item) {
          for (let i = 0; i < this.choosedList.length; i++) {
            if (item.id === this.choosedList[i].id) {
              this.choosedList.splice(i, 1);
            }
          }
          // 联动searchList, 删除对应项的checked属性
          if (isTrueArray(this.searchList)) {
            for (let i = 0; i < this.searchList.length; i++) {
              if (this.searchList[i].id === item.id) {
                this.$set(this.searchList[i], 'checked', '');
              }
            }
          }
          setLocalStorage(CHOOSED_LIST_STORAGE_KEY, JSON.stringify(this.choosedList));
          setLocalStorage(SEARCH_LIST_STORAGE_KEY, JSON.stringify(this.searchList));
        },

        exportSvgSymbolsFile() {
          vscode.postMessage({
            command: 'exportSvgSymbolsFile',
            data: this.choosedList
          })
        },

        exportSvgFile() {
          vscode.postMessage({
            command: 'exportSvgFile',
            data: this.choosedList
          })
        },

        init() {
          // TODO: 优化异步
          getStorage(SEARCH_LIST_STORAGE_KEY, {
            success: res => {
              if (res) {
                this.searchList = JSON.parse(JSON.stringify(JSON.parse(res)))
                getStorage(CHOOSED_LIST_STORAGE_KEY, {
                  success: choosedRes => {
                    if (choosedRes) {
                      this.choosedList = JSON.parse(JSON.stringify(JSON.parse(choosedRes)));
                    }
                  }
                })
              }
            }
          })
          document.addEventListener('keydown', e => {
            if (e.keyCode === 13) {
              this.searchIcon();
            }
          })
        }
      },
      created() {
        this.init();
      },
    })
  </script>
</body>
</html>