<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/index.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app" v-cloak>
    <div class="container">
      <header id="header">
        <div class="search-input">
          <el-input
            v-model="search"
            placeholder="请输入图标名称"
            :autofocus="true">
          </el-input>
        </div>
        <el-button @click="searchIcon">搜索</el-button>
      </header>
      <div class="current-show-area" v-loading="loading">
        <div class="svg-show" v-if="currentSvg && !loading">
          <div v-html="currentSvg"></div>
          <div class="checkbox-block">
            <el-checkbox v-model="checked"></el-checkbox>
          </div>
        </div>
        <div class="empty-block" v-if="!loading && !currentSvg">
          <el-empty description="描述文字"></el-empty>
        </div>
      </div>

      <div class="choosed-icon-block">
        <ul class="choosed-icon-list">
          <li class="choosed-icon-item" v-for="(item, index) in choosedIconList" :key="item">
            <div class="icon" v-html="item.svgCode"></div>
            <div class="name">{{ item.search }}</div>
          </li>
        </ul>

        <el-button @click="exportSvgSymbolsFile">导出</el-button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript">

    const vscode = acquireVsCodeApi();

    const searchUrl = 'https://datav.iwencai.com/resource/api/icon/search';
    new Vue({
      el: '#app',
      data() {
        return {
          loading: false,
          search: '',
          currentSvg: '',
          checked: false,
          choosedIconList: []
        }
      },
      watch: {
        checked(val) {
          if (val) {
            this.choosedIconList.push({
              name: this.search,
              svgCode: this.currentSvg,
            });
          }
        },
        choosedIconList: {
          deep: true,
          handler: function(val) {
            console.log(val);
          }
        }
      },
      methods: {
        async searchIcon() {
          this.loading = true;
          const res = await axios.get(`${searchUrl}?id=${this.search}`);
          if (res.data.status_code === 0) {
            this.currentSvg = res.data.data.svg;
          } else {
            this.currentSvg = '1';
          }
          this.loading = false;
        },
        exportSvgSymbolsFile() {
          vscode.postMessage({
            command: 'exportSvgSymbolsFile',
            data: this.choosedIconList
          })
        }
      },
    })
  </script>
</body>
</html>